@keyframes animate_1 {
   0% {
    top: 25px;
}

50% {
    top: 15px;
}
100% {
    top: 15px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

    
}
@keyframes animation_1 {
   0% {
    top: 5px;
}

50% {
    top: 15px;
}
100% {
    top: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
}
}
@keyframes animate_2 {
     0%{
        transform: translateX(-100%);
        

    }

    100%{
        transform: translateX(0%);
        
        
    }
    
    
}
@keyframes animate_3 {
    0%{
        transform: rotate(0deg);
        

    }

    100%{
        transform: rotate(360deg);
        
        
    }
}
@keyframes animate_4{
    0%{
        transform: translateY(0%);
    }
   
    100%{
        transform: translateY(-5%);
    }
}
@keyframes animate_5{
    0%{
        transform: translateY(-100%);
    }
    
   
    100%{
        transform: translateY(0%);
    }
}
@keyframes animate_6{
    25%{
        transform: translateY(-35px);
        opacity: 1;
        left: 0;

    }
    50%{
        transform: translateY(0px);
        opacity: 1;
        left: 0;

    }
    75%{
        
        opacity: 0;
        left:200%;
        transform: translateY(0px);

    }


}


